= render "shared/header"

.contents-users-show
  .contents-wrapper
    =render partial: "shared/side"

    %main{class: "users-wrapper"}
      .users-wrapper__head
        %h2{class: "users-wrapper__head__title"}
          プロフィール情報
      .users-wrapper__main
        .users-wrapper__main__forms
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = render "devise/shared/error_messages", resource: resource

            .field
              .field__label
                = f.label :"プロフィール画像"
              %br/
              = image_tag(current_user.image.url, class: "field__current-image")
              .field__image
                = f.file_field :image

            .field
              .field__label
                = f.label :"ニックネーム"
                %br/
              .field__text
                = f.text_field :nickname

            .field
              .field__label
                = f.label :"メールアドレス"
              %br/
              .field__text
                = f.email_field :email, autofocus: true, autocomplete: "email"
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}

            .actions
              = f.submit "更新する", class: "actions__button"
