= render "shared/header"
%nav{class: "nav-categories"}
  .categories-header-wrapper
    - current_user.categories.each do |category|
      - if category == @category
        =link_to category_tweets_path(category.id), class: "categories-header-wrapper__button-emphasis" do
          = category.name
      - else
        =link_to category_tweets_path(category.id), class: "categories-header-wrapper__button" do
          = category.name
  =link_to root_path, class: "add-button" do
    ➕



.contents-tweets-index
  .contents-wrapper
    .side-bar
      = link_to user_path(current_user) do
        =image_tag "", class: "side-bar__avatar"
      .side-bar__info
        =link_to user_path(current_user), class: "side-bar__info__user-name" do
          = current_user.nickname
        .side-bar__info__follows
          .side-bar__info__follows__follow
            フォロー数
            %p{class: "side-bar__info__follow__number"} 0
          .side-bar__info__follows__follow
            フォロワー数
            %p{class: "side-bar__info__follow__number"} 0
      .side-bar__goals
        %p 目標
        %p 1週間の目標
        %p 今日の目標

    %main{class: "tweets-wrapper"}
      = render partial: "tweet", collection: @tweets, :as => "tweet"
