= render "shared/header"
%nav{class: "nav-categories"}
  .categories-header-wrapper
    - current_user.categories.each do |category|
      - if category == @category
        =link_to category_tweets_path(category.id), class: "categories-header-wrapper__button-emphasis" do
          = category.name
      - else
        =link_to category_tweets_path(category.id), class: "categories-header-wrapper__button" do
          = category.name
  =link_to root_path, class: "add-button" do
    ➕



.contents-tweets-index
  .contents-wrapper
    .side-bar
      = link_to user_path(current_user) do
        - if current_user.image.present?
          = image_tag(current_user.image.url, class: "side-bar__avatar")
        - else
          .side-bar__avatar-not
            %i{class: "fas fa-user-circle fa-8x my-gray"}
      .side-bar__info
        =link_to user_path(current_user), class: "side-bar__info__user-name" do
          = current_user.nickname
        .side-bar__info__follows
          .side-bar__info__follows__follow
            フォロー数
            %p{class: "side-bar__info__follow__number"} 0
          .side-bar__info__follows__follow
            フォロワー数
            %p{class: "side-bar__info__follow__number"} 0
      .side-bar__goals
        .side-bar__goals__text
          - if @goal.present?
            = simple_format(@goal.goal)
          - else
            目標を記入しよう
        .side-bar__goals__buttons
          =link_to new_category_goal_path(@category), class: "side-bar__goals__buttons__ele" do
            %i{class: "fas fa-plus"}
          =link_to "", class: "side-bar__goals__buttons__ele" do
            %i{class: "fas fa-edit"}
          =link_to "", class: "side-bar__goals__buttons__ele" do
            %i{class: "fas fa-trash-alt"}



    %main{class: "tweets-wrapper"}
      = render partial: "tweet", collection: @tweets, :as => "tweet"
