= render "shared/header"

.contents-new-edit
  %main{class: "form-wrapper"}
    %h2{class: "form-wrapper__title"}
      投稿する
    .tweet-goal
      %h3{class: "tweet-goal__label"}
        目標
      .tweet-goal__text
        = simple_format(@goal.goal)

    = form_with model: [@category, @tweet], local: true, class: "form-wrapper__form" do |f|
      = f.text_area :text, class: "form-wrapper__form__text", rows: "10", placeholder: "達成したことをツイートしよう"
      .form-wrapper__form__image
        = f.fields_for :tweet_images do |tweet_image|
          = tweet_image.file_field :image
      = f.submit "投稿", class: "form-wrapper__form__button"

