= render "shared/header"

.contents-tweets-new
  %main{class: "tweet-form-wrapper"}
    %h2{class: "tweet-title"}
      投稿する
    .tweet-goal
      %h3{class: "tweet-goal__label"}
        今日達成すること
      .tweet-goal__text
        rubyのクラスとインスタンスを理解する
      .tweet-goal__text
        rubyのクラスとインスタンスを理解する
      .tweet-goal__text
        rubyのクラスとインスタンスを理解する
    = form_with model: [@category, @tweet], local: true, class: "tweet-form" do |f|
      = f.text_area :text, class: "tweet-form__text", rows: "10", placeholder: "達成したことをツイートしよう"
      .tweet-form__image
        = f.fields_for :tweet_images do |tweet_image|
          = tweet_image.file_field :image
      = f.submit "投稿", class: "tweet-form__button"

