= render "shared/header"

%nav{class: "nav-categories"}
  .categories-header-wrapper
    .categories-header-wrapper__button
      = @category.name


.contents-tweets-index
  .contents-wrapper
    .side-bar
      - if @category_user.user.image.present?
        = image_tag(@category_user.user.image.url, class: "side-bar__avatar")
      - else
        .side-bar__avatar-not
          %i{class: "fas fa-user-circle fa-8x my-gray"}
      .side-bar__info
        .side-bar__info__user-name
          = @category_user.user.nickname
        .side-bar__info__follows
          .side-bar__info__follows__follow
            フォロー数
            %p{class: "side-bar__info__follow__number"} 0
          .side-bar__info__follows__follow
            フォロワー数
            %p{class: "side-bar__info__follow__number"} 0
      .side-bar__goals
        - if @goal.present?
          .side-bar__goals__text
            %p{class: "side-bar__goals__text__null"}
              = simple_format(@goal.goal)

        - else
          .side-bar__goals__text
            目標は記入されていません

    %main{class: "tweets-wrapper"}
      = render partial: "tweets/tweet", collection: @tweets, :as => "tweet"
