= render "shared/header"

  .contents-categories-show
    .contents-wrapper
      =render partial: "shared/side"
      %main{class: "categories-wrapper"}
        .categories-wrapper__head
          .categories-wrapper__head__subtitle
            カテゴリー：#{@category.name}
          %h2{class: "categories-wrapper__head__title"}
            自分の投稿
        .categories-wrapper__main
          = render partial: "tweets/tweet", collection: @tweets, :as => "tweet"

  .contents-tweets-index
    .contents-wrapper
      .side-bar
        = link_to  user_path(@user) do
          - if @user.image.present?
            = image_tag(@user.image.url, class: "side-bar__avatar")
          - else
            .side-bar__avatar-not
              %i{class: "fas fa-user-circle fa-8x my-gray"}
        .side-bar__info
          =link_to user_path(@user), class: "side-bar__info__user-name" do
            = @user.nickname
          .side-bar__info__follows
            .side-bar__info__follows__follow
              フォロー数
              %p{class: "side-bar__info__follow__number"} 0
            .side-bar__info__follows__follow
              フォロワー数
              %p{class: "side-bar__info__follow__number"} 0

        .side-bar__goals
          - if @goal.present?
            .side-bar__goals__text
              %p{class: "side-bar__goals__text__null"}
                = simple_format(@goal.goal)
            .side-bar__goals__buttons
              =link_to new_category_goal_path(@category), class: "side-bar__goals__buttons__ele" do
                %i{class: "fas fa-plus"}
              =link_to edit_category_goal_path(@category, @goal), class: "side-bar__goals__buttons__ele" do
                %i{class: "fas fa-edit"}
              =link_to "/categories/#{@category.id}/goals/#{@goal.id}", method: :delete, class: "side-bar__goals__buttons__ele" do
                %i{class: "fas fa-trash-alt"}
          - else
            .side-bar__goals__text
              目標を記入しよう
            .side-bar__goals__buttons
              =link_to new_category_goal_path(@category), class: "side-bar__goals__buttons__ele" do
                %i{class: "fas fa-plus"}

      %main{class: "tweets-wrapper"}
        = render partial: "tweets/tweet", collection: @tweets, :as => "tweet"
