= render "shared/header"
%nav{class: "nav-categories"}
  .categories-header-wrapper
    .categories-header-wrapper__button
      = @category.name


.contents-tweets-index
  .contents-wrapper
    .side-bar
      = link_to user_path(current_user) do
        - if current_user.image.present?
          = image_tag(current_user.image.url, class: "side-bar__avatar")
        - else
          .side-bar__avatar-not
            %i{class: "fas fa-user-circle fa-8x my-gray"}
      .side-bar__info
        =link_to user_path(current_user), class: "side-bar__info__user-name" do
          = current_user.nickname
        .side-bar__info__follows
          .side-bar__info__follows__follow
            フォロー数
            %p{class: "side-bar__info__follow__number"} 0
          .side-bar__info__follows__follow
            フォロワー数
            %p{class: "side-bar__info__follow__number"} 0

    %main{class: "goals-wrapper"}
      %h2{class: "goals-wrapper__title"}
        今までの目標一覧
      - @goals.each do |goal|
        .goals-wrapper__box
          .goals-wrapper__box__date
            = goal.created_at.strftime("%Y-%m-%d %H:%M")
          .goals-wrapper__box__tweet
            = goal.goal


